/* Non Media Dependant Body Style */

body {
	margin: 0px;
	padding: 0px;
	font-family: calibri;
}

.nav ul {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	width: 100%;
	background-color: lightblue;
	margin: 0px;
}

.nav li{
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
}

.column {
	background-color: #efefef;
}

.column h1{
	text-align: center;
}
.column ul{
	list-style-position: inside;
}
.column li{
	padding-left: 20%;
}

/* Media Dependant Style */

@media (min-width: 1900px) {
	.desktop{
		display: block;
		text-align: center;
	}
}
@media (max-width: 1900px) {
	.desktop{
		display: none;
	}
}
@media (min-width: 700px) {
	.column {
		float:left;
		width: 50%;
	}
}
@media (max-width: 700px) {
	.column {
		width: 100%;
	}
}